#num{
    color: white;
}

#questionPosee{
    color: white;
}

body{
    background-color: black;
}

#chatBot{
    background: linear-gradient(to bottom, white ,#2a2c30);
}

#lienButton{
    background-color: #2a2c30;
}

header{
    background-color: #2a2c30;
    color: white;
}

.titre{
    color: white;
}

button{
    background-color: #2a2c30;
}

.couloir {
    border-color: white;
}

.coulPlan{
    border-color: white;
}

#barreNavBot{
    background: linear-gradient(to bottom, #2a2c30, gray);
}

#soumettre{
    background-color: #2a2c30;
    color: white;
}

/* couleurs plan */

#case_RDC_1_1 {
    border-color: white;
}

#case_RDC_1_2 {
    border-color: white;
}

#case_RDC_1_3 {
    border-color: white;
}

#case_RDC_1_4 {
    border-color: white;
}

#case_RDC_1_5 {
    border-color: white;
}

#case_RDC_1_6 {
    border-color: white;
}

#case_RDC_1_7 {
    border-color: white;
}

#case_RDC_1_8 {
    border-color: white;
}

#case_RDC_1_9 {
    border-color: white;
}

#case_RDC_1_10 {
    border-color: white;
}

/*2ere ligne (parties hautes des salles sous le couloir RDC) */
#case_RDC_2_1 {
    border-color: white;
}

#case_RDC_2_2 {
    border-color: white;
}

#case_RDC_2_3 {
    border-color: white;
}

#case_RDC_2_4 {
    border-color: white;
}

#case_RDC_2_5 {
    border-color: white;
}

#case_RDC_2_6 {
    border-color: white;
}

#case_RDC_2_7 {
    border-color: white;
}

#case_RDC_2_8 {
    border-color: white;
}

#case_RDC_2_9 {
    border-color: white;
}

#case_RDC_2_10 {
    border-color: white;
}

/*3ere ligne (salles au dessus du couloir RDC) */
#case_RDC_3_1 {
    border-color: white;
}

#case_RDC_3_2 {
    border-color: white;
}

#case_RDC_3_3 {
    border-color: white;
}

#case_RDC_3_4 {
    border-color: white;
}

#case_RDC_3_5 {
    border-color: white;
}

#case_RDC_3_6 {
    border-color: white;
}

/*Premier étage*/
/*4e ligne (salles sous le couloir du 1er étage)*/
#case_1E_1_1 {
    border-color: white;
}

#case_1E_1_2 {
    border-color: white;
}

#case_1E_1_3 {
    border-color: white;
}

#case_1E_1_4 {
    border-color: white;
}

#case_1E_1_5 {
    border-color: white;
}

#case_1E_1_6 {
    border-color: white;
}

#case_1E_1_7 {
    border-color: white;
}

#case_1E_1_8 {
    border-color: white;
}

#case_1E_1_9 {
    border-color: white;
}

/*5e ligne (salles au dessus du couloir du 1er étage)*/
#case_1E_2_1 {
    border-color: white;
}

#case_1E_2_2 {
    border-color: white;
}

#case_1E_2_3 {
    border-color: white;
}

#case_1E_2_4 {
    border-color: white;
}

#case_1E_2_5 {
    border-color: white;
}

/*2e étage*/
/*6e ligne (salles sous le couloir du 2e étage)*/
#case_2E_1_1 {
    border-color: white;
}

#case_2E_1_2 {
    border-color: white;
}

#case_2E_1_3 {
    border-color: white;
}

#case_2E_1_4 {
    border-color: white;
}

#case_2E_1_5 {
    border-color: white;
}

#case_2E_1_6 {
    border-color: white;
}

#case_2E_1_7 {
    border-color: white;
}

#case_2E_1_8 {
    border-color: white;
}

#case_2E_1_9 {
    border-color: white;
}

#case_2E_1_10 {
    border-color: white;
}

/*7e ligne (salles au dessus du couloir du 2e étage)*/
#case_2E_2_1 {
    border-color: white;
}

#case_2E_2_2 {
    border-color: white;
}

#case_2E_2_3 {
    border-color: white;
}

#case_2E_2_4 {
    border-color: white;
}

#case_2E_2_5 {
    border-color: white;
}

#versFin {
    background-color: #2a2c30;
    color: white;
}